[Unit]
Description=Fashion Transaction Processor
After=network.target

[Service]
User=sawtooth
Group=sawtooth
EnvironmentFile=-/etc/default/sawtooth-fashion-tp-python
ExecStart=/usr/bin/fashion-tp-python $FASHION_TP_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
